
/* Config css file  */
ul.navbar-nav.mb-2.mb-lg-0 {
    margin-left: auto;
}

.logobar{
    width: 15%;
}
ul.navbar-nav {
    margin-left: auto;
}

.header_image{
    display: block;
}

.gajets{
    position: absolute;
    margin-top: 20px;
    margin-left: 240px;
    text-align: right;
}

.worke {
    margin-top: 150px;
    margin-bottom: 100px;
}

.worke h2{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.login_page{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logreg{
    float: right;
    text-decoration: none;
    color: green;
}


.Purchase-Tickets{
    margin-bottom: 100px;
}


.Purchase-Tickets h1{
    font-family: Roboto sans-serif;
}
.col-md-8.ticket_point {
    padding-left: 80px;
}

.Purchase-Tickets li{
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #023623;
}





